table{
    width: 100%;
}

table thead tr{
    background-color: #e8edf3 !important;
}

table thead tr th{
    text-align: left;
}

.markdown-body .highlight{
    overflow: auto;
}

.markdown-body {
    font-family: "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    width: 800px;
}